<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h3 class="head">Registration Form</h3><br><br>

    <form action="/users" class="forms" method="post">
        <Label>Name:</Label> <input type="text" name="name"><br><br>

        <button>submit</button>
    </form>
</body>

<style>
    body{
        background-color:burlywood;
        color:darkred;
        text-align: center;
        font-family: sans-serif;
    }
</style>
</html>